---
---
@import "minima";
$text-color: #fff !default;
$text-color-dark: darken($text-color, 25%);
$background-color: #2B2B2B !default;
$brand-color: #1f936a !default; // Old green I was using
$secondary-accent: #c33c54;
// From the CV generator:
//$brand-color: #1a5e63;
//$secondary-accent: #ad343e;





.site-title, .site-title:visited {
    color: #fff;
}

.site-header {
    border-bottom: 2px solid $brand-color;
}

.site-footer {
    border-top: 1px solid $brand-color;
}

a {
    color: lighten($brand-color, 15%)
}

a:visited {
    color: lighten($brand-color, 5%);
}

ul {
    list-style-type: square;
}

ul li::marker {
    color: $brand-color;
    font-size: 135%;
    //content: '◆\00a0\00a0\00a0';
    //margin-inline: 1em;
}

.site-title
{
    display: flex;
    justify-content: center;
    width: 100%;
}

.site-title img {
    padding: 10%;
    max-height: 200px;
}

.site-nav {
    float: none;
    margin: auto;
    display: flex;
    width: 100%;
    justify-content: center;
}

.video-player {
    width: 100%;
    aspect-ratio: 16 / 9;
    display: flex;
    justify-content: center;
    align-items: center;
}

.video-player iframe, div.embed-center iframe {
    padding: 2.5%;
}

div.embed-center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    padding: 2.5%;
}

div.citation {
    background-color: #3C3C3C;
    padding: 3.5%;
    margin: 3.5%;
    border-radius: 5px;
    color: $text-color-dark;
}

div.project-context {
    background-color: #3C3C3C;
    padding: 1%;
    margin-top: 1%;
    margin-bottom: 1%;
    border-radius: 5px;
    color: $text-color-dark;
}

div.post-hero img {
    width: 75%;
}

a.blog-continue-button {
    color: $text-color;
    display: inline-block;
    margin-top: 1em;
    padding: 1em;
    background-color: $brand-color;
    border-radius: 5px;
}

div.embed-center audio {
    width: 100%;
}
div.caption {
    margin-top: 1em;
    //margin-bottom: 1em;
    color: $text-color-dark;
}

.dark-text {
    color: $text-color-dark;
}

// Animations
span.rainbow-text {
    animation: rainbow 5s linear infinite;
}

@keyframes rainbow {
    0% {
        color: #e81416;
    }
    15% {
        color: #ffa500;
    }
    30% {
        color: #faeb36;
    }
    45% {
        color: #79c314;
    }
    60% {
        color: #487de7;
    }
    75% {
        color: #4b369d;
    }
    90% {
        color: #70369d;
    }
    100% {
        color: #e81416;
    }
}

span.bounce-text{
    display: inline-block;
    animation: wave 2s ease-in-out infinite;
}

@keyframes wave {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-35%);
    }
}

span.shake-text {
    display: inline-block;
    animation: shaking 0.2s infinite;
}

@keyframes shaking {
  0% { transform: translate(0, 0) rotate(0deg); }
  25% { transform: translate(0.1rem, 0.1rem) rotate(0deg); }
  50% { transform: translate(0, 0) rotate(0deg); }
  75% { transform: translate(-0.1rem, 0.1rem) rotate(-0deg); }
  100% { transform: translate(0, 0) rotate(0deg); }
}


body h3:after {
    content:' ';
    display: block;
    border: 3px solid $brand-color;
    border-radius:9px 1px;
    box-shadow:inset 0 1px 1px rgba(0,0,0,.05);
    width: 65%;
}
body h4:after {
content:' ';
display: block;
border: 2px solid $secondary-accent;
border-radius:9px 1px;
box-shadow:inset 0 1px 1px rgba(0,0,0,.05);
width: 35%;
}

@media screen and (max-width: 600px) {
    .site-nav {
        display: inline-block;
        position: relative;
        top: 0px;
        right: 0px;
        margin-bottom: 1em;
    }

    .site-nav .menu-icon > svg {
        fill: $brand-color;
    }
}